@font-face {
    font-family: 'Chigero';
    src: url("/font/chigero/Chigero.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chigero';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
header{
    position:fixed;
    top: 1rem;
    left: 25%;
    transform: translate(-50%);
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    padding: 5px;
    border-radius: 3rem;
    z-index: 1000;
}
.text{
    display: inline-block;
}
.text .name{
    border-right: 5px solid;
    width: 100%;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(9),cursor 0.4s step-end infinite alternate;
    animation-iteration-count: infinite;
}
@keyframes cursor {
    50%{ border-color: transparent;}
}
@keyframes typing {
    from{width: 0;}
}
.logo{
    color: white;
    font-size: 1.3rem;
    text-wrap: nowrap;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.08);
}
.nav-links{
    display: flex;
    gap:2rem;
}
li a{
    color: white;
    position: relative;
    font-weight: 300;
}
li a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 5px;
    left: 0;
    top: 18px;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right,rgb(0, 153, 255),rgb(254, 4, 166));
}

li a:hover::before{
    width: 100%;
}
.header i{
    position: relative;
    right: 10px;
    transition: 0.3s ease-in-out;
}
.header i:hover{
    transform: scale(1.08);
}
.Github{
    padding: 3px;
    border-radius: 3rem;
    border: none;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    cursor: progress;
    background: linear-gradient(to right,rgb(0,153,255),rgb(254,4,166));
    text-wrap: nowrap;
    transition:ease-out;
}
.Github:hover{
    background: linear-gradient(to right,rgb(254,4,166),rgb(0,153,255));
    transform: scale(1.03);

}


section{
    min-height: 100vh;
    padding: 8rem,12%;
    width: 100%;
    position: relative;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.about img{
    width: 30vh;
    border-radius: 50%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
}
.info-box h3{
    font-size: 1rem;
    font-weight: 300;
}
.info-box h1{
    font-size: 2rem;
    font-weight: 600;
}
.info-box span{
    background: linear-gradient(to right,rgb(255,0,255),rgb(0,157,255));
    background-clip: text;
    color: transparent;
    font-weight: 500;
    font-size: 1.3rem;
}
.btn-group{
    display: flex;
    gap: 1rem;
    justify-content: center;

}
.btn{
    border-radius: 3rem;
    padding:3px  5px;
    border:2px solid black;
    cursor: pointer;
    font-weight: 300;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background: black;
    color:white;
    border: white;
}
.socials i{
    transition: 0.5s ease-in-out;
    transition-delay: 0.3s;
    font-size: 25px;
    gap: 3rem;
   
}
@font-face {
    font-family: 'Glamour day';
    src: url("/font/glamour_day/Glamour\ Day.otf");
}
.experience{
    animation-duration: 1s;
}
.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5rem;
    font-family: 'Glamour day';

}
.title::before{
    position: absolute;
    content: '';
    width: 0;
    height: 5px;
    left: 27%;
    top:58px;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right,rgb(0, 195, 255),rgb(254, 3, 254));
}
.title:hover::before{
    width: 50%;
    box-shadow: 4px 4px 5px black;
}
.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
section .img{
    width: 24vw;
    border-radius: 50%;
    position: relative;
    left: 1rem;
    transform: translate(-10%);
    box-shadow: 4px 4px 5px rgb(132, 131, 131);
    transition: 0.5s ease-in-out;
}
section .img:hover{
    transform: scale(1.1);
}
.grid{
    display: grid;
    grid-template-columns: 250px 250px ;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
    left: 2rem;
    
}
.grid-card{
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px  5px;
    padding-left: 10px;
    text-align: left;
    box-shadow: 4px 4px 5px rgb(213, 212, 212);
    transition: 0.5s ease-in-out;

}
.grid-card:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.grid-card p{
    font-weight: 100;
    font-family: 'Glamour day';
}
.grid-card span{
    background: linear-gradient(to right,rgb(0, 123, 255),purple);
    background-clip: text;
    color: transparent;
}
.grid-card i{
    display: flex;
    font-size: medium;
    animation-delay: 1s;
    animation-duration: 0.5s;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom,rgb(0, 145, 255),purple);
}
.project{
    display: flex;
    flex-direction: column;
    
}
.project-info{
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    justify-content: space-around;
    gap: 2rem;
    position: relative;
    left: 2rem;
    width: 250px;
    height: 300px;
    float: left;
    perspective: 500px;
    padding: 10px;
    margin: 30px;
}
.project-title{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.project-title::before{
    position: absolute;
    content: '';
    width: 0;
    height: 5px;
    left: 25%;
    top: 58px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right,rgb(0, 174, 255),rgb(249, 3, 249));
}
.project-title:hover::before{
    width: 50%;
    box-shadow: 4px 4px 5px black;
}

.CARDS{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 15px rgb(154, 153, 153);
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 20px;
    cursor: pointer;

}

.project-info:hover .CARDS{
    transform: rotateY(180deg);
    transition: transform 0.5s;
}
.FRONT,.back{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    line-height: 30px;
    color: black;
    text-align: center;
    font-size: 10px;
    border-radius: 20px;
    backface-visibility: hidden;
}
.FRONT .img{
    height: 50%;
    width: 50%;
    position: relative;
    top: 20px;
    border-radius: 50%;
}
.FRONT h3{
    position: absolute;
    top: 12rem;
    left: 2rem;
    font-size: 20px;
    text-align: center;

}
.FRONT span{
    background: linear-gradient(to right,rgb(0, 149, 255),rgb(255, 3, 255));
    background-clip: text;
    color: transparent;
}
.back{
    background: white;
    color: white;
    transform: rotateY(180deg);
    font-size: small;
}
.back .im{
    height: 50%;
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 5x black;

}
.back p{
    font-size: small;
    text-align: center;
    padding: 5px;
    color: black;
}
.repo,.demo{
    text-align: center;
    position: relative;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 20px;
    margin-right: 10px;
    background: linear-gradient(to right,rgb(0, 191, 255),rgb(249, 4, 249));
    background-clip: text;
    color: transparent;
}
.contact{

    display: flex;
    flex-direction: column;
}
.contact-title{
    text-align: center;
    margin-top: 50px;
   margin-bottom: 10%;
   font-weight: 600;
}
.contact-title::before{
    position: absolute;
    content: '';
    top: 40px;
    width: 0;
    height: 5px;
    left: 25%;
    background: linear-gradient(to right,rgb(0, 238, 255),rgb(253, 4, 253));
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
}
.contact-title:hover::before{
    width: 50%;
}

.contact-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}
.contact-info{
    text-align: left;
    line-height: 30px;
    text-decoration: none;
}
.contact-info a{
    color: rgb(251, 112, 112);
}
.contact-form{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 30px;
}
.contact-form input{
    all: none;
    border: none;
    border-bottom: 2px solid black;
    width: 15rem;
}
.contact-form input:focus{
    border: none;
    outline: none;
}
.contact-form button{
    position: relative;
    top: 30px;
    border-radius: 20px;
    background: transparent;
    padding: 5px;
    width: 7rem;
}
.contact-form button:hover{
    background: black;
    color: white;
}

footer{
    max-width: 100%;
    max-height: 30px;
    position:relative;
    bottom: 0;
    background: rgb(122, 122, 122);
    text-align: center;
    z-index: 200;

}

@media(max-width:1200px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 2rem;
    }
    .experience-info{
        flex-direction: column;
        max-width: fit-content;
    }
    input{
       max-width: 10rem; 
    }
}

@media (max-width:760px) {
    header{
        left: 12%;
        gap:1rem;
        padding: 0.5rem 1rem;
    }
    header .logo{
        font-size:1.5rem ;
    }
    header .Github{
        display: none;
    }
    header i{
        display: none;
    }
    .img{
        width: 700px;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .project-info{
        grid-template-columns: repeat(1,1fr);
        left: 13%;
        width: 60%;
    }
    .contact{
        display: flex;
        bottom:20px;
    }
    footer{
    
    }


}

@media (max-width:500px) {
    
}
